<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Title</title>
    <!-- Favicon -->
    <link rel="icon" href="../static/img/brand/favicon.png" type="image/png" />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <!-- Icons -->
    <link rel="stylesheet" href="../static/css/nucleo.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/all.min.css" type="text/css" />
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="../static/css/argon.css?v=1.2.0" type="text/css" />
</head>

<body>
    <h1>Your CS Major Blueprint: SWE/SDE Track</h1>
    <details>
        <summary>Freshman</summary>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Recommended Courses</h5>
                                <ul>
                                    <li>CS231: Data Structures and Algorithms</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Summer Programs</h5>
                                <ul>
                                    <li><a href="https://github.com/SimplifyJobs/Summer2026-Internships?tab=readme-ov-file">Apply Here!</a></li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Resources</h5>
                                <ul>
                                    <li><a href="https://davisconnects.colby.edu/">Davis Connects</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>
    <details>
        <summary>Sophmore</summary>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Recommended Courses</h5>
                                <ul>
                                    <li>Operating Systems</li>
                                    <li>Computer Networks</li>
                                    <li>Software Engineering</li>
                                    <li>Database</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Summer Programs</h5>
                                <ul>
                                    <li><a href="https://github.com/SimplifyJobs/Summer2026-Internships?tab=readme-ov-file">Apply Here!</a></li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Resources</h5>
                                <ul>
                                    <li><a href="https://davisconnects.colby.edu/">Davis Connects</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>
    <details>
        <summary>Junior</summary>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Recommended Courses</h5>
                                <ul>
                                    <li>Operating Systems</li>
                                    <li>Computer Networks</li>
                                    <li>Software Engineering</li>
                                    <li>Database</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Summer Programs</h5>
                                <ul>
                                    <li><a href="https://github.com/SimplifyJobs/Summer2026-Internships?tab=readme-ov-file">Apply Here!</a></li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Resources</h5>
                                <ul>
                                    <li><a href="https://davisconnects.colby.edu/">Davis Connects</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>
    <details>
        <summary>Senior</summary>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Recommended Courses</h5>
                                <ul>
                                    <li>Operating Systems</li>
                                    <li>Computer Networks</li>
                                    <li>Software Engineering</li>
                                    <li>Database</li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Summer Programs</h5>
                                <ul>
                                    <li><a href="https://github.com/SimplifyJobs/Summer2026-Internships?tab=readme-ov-file">Apply Here!</a></li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Resources</h5>
                                <ul>
                                    <li><a href="https://davisconnects.colby.edu/">Davis Connects</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </details>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/js.cookie.js"></script>
    <script src="../static/js/jquery.scrollbar.min.js"></script>
    <script src="../static/js/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="../static/js/Chart.min.js"></script>
    <script src="../static/js/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="../static/js/argon.js?v=1.2.0"></script>
</body>

</html>
