<!--
=========================================================
* Material Kit 3 - v3.1.0
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='assets/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
  
  <title>Homepage</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
  
  <link href="{{ url_for('static', filename='assets/css/nucleo-icons.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='assets/css/nucleo-svg.css') }}" rel="stylesheet" />
  
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link id="pagestyle" href="{{ url_for('static', filename='assets/css/material-kit.css') }}" rel="stylesheet" />
  
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body class="contact-us" style="background-color: #142231;">
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0 bg-transparent text-white">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg border-radius-lg mt-4 top-0 z-index-3 shadow position-absolute my-3 p-2 start-0 end-0 mx-4 ">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3 text-sm text-white" href="https://demos.creative-tim.com/material-kit/index" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
              Blueprint.edu
            </a>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100 text-white" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-semibold" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-symbols-rounded opacity-6 me-2 text-md text-white">dashboard</i>
                    Home 
                  </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-semibold" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-symbols-rounded opacity-6 me-2 text-md text-white">view_day</i>
                    Blueprints
                  </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center font-weight-semibold" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-symbols-rounded opacity-6 me-2 text-md">article</i>
                    Resources 
                  </a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="{{ url_for('homepage.feedback_page') }}" class="btn  bg-gradient-warning  mb-0 mt-2 mt-md-0">Feedback</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>

  <div class ="text-center text-nowrap position-absolute top-50 start-50 translate-middle">
    
    <div class ="fs-2">Navigate Your Degree. Unlock your Career</div> 
    <div class ="fs-3 bridge-description">Find your personalized roadmap to take you from classes to industry</div>
    <!-- <img src="../assets/img/map-icon.png" -->
      <i class="fa-map opacity-6 me-2 text-md text-white"></i>
    <button type="button" id="roadmap-button" class="btn btn-roadmap glow-blue fs-5 mt-5 px-5 custom-btn-width" data-bs-toggle="modal" data-bs-target="#roadmapModal"> Find your Roadmap </button>

    <div class="mt-3">
      <a href="{{ url_for('homepage.mentor_page') }}" id="mentor-button" class="btn btn-mentor glow-gold fs-5 px-5 custom-btn-width"> Meet Your Mentor </a>
    </div>
  </div>
  <div class="modal fade" id="roadmapModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-radius-xl shadow-lg border-0">
        <div class="modal-header border-0 justify-content-center pt-5">
          <h2 class="modal-title modal-title-custom fs-1" id="roadmapModalLabel">Start Your Chapter</h2>
        </div>
        <div class="modal-body px-5">
          <form role="form" method="POST" action="{{ url_for('homepage.submit_info') }}">
            
            <div class="mb-4">
              <label class="form-label form-label-custom fs-5">What is your class year?</label>
              <select class="form-select form-select-custom" name="class_year" required>
                <option value="" disabled selected>Select Year</option>
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
              </select>
            </div>
  
            <div class="mb-5">
              <label class="form-label form-label-custom fs-5">What is your major?</label>
              <select class="form-select form-select-custom" name="major" required>
                <option value="" disabled selected>Select Major</option>
                <option value="cs">Computer Science</option>
                <option value="econ">Economics</option>
              </select>
            </div>
  
            <div class="text-center pb-5">
              <button type="submit" class="btn btn-submit-custom w-100 fs-4 py-3 shadow">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  
</body>

</html>